*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore all README files
**/*/README.md
**/README.md
README.md

# Ignore all log files
*.log
logcat_output.txt
logcat_utf8.txt
